{% extends "_layout.html" %}

{% block content %}
<h1>User Catalog</h1>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4 user-catalog">
    {% for user in users %}
    <div class="col">
        <div class="card h-100">
            {% if user.avatar%}
            <img src="{{user.avatar.url}}" class="card-img-top" alt="{{user.name}}">
            {% else %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1MWm4Uc-yhWB5bkRg8r_Vy6ueABFtDb_qSA"
                class="card-img-top" alt="{{user.name}}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text">{{user.phone}} - {{user.email}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}