{% extends "_layout.html" %}

{% block content %}
<h1>Users List</h1>
<!-- 
<ul>
    {% for user in users %}
    <li>[{{user.id}}] - {{user.name}} {{user.phone}}</li>
    {% endfor %}
</ul> -->

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="details/{{user.id}}" class="btn btn-primary">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a href="edit/{{user.id}}" class="btn btn-warning">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="/delete/{{user.id}}" class="btn btn-danger">
                        <i class="bi bi-trash3"></i>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}