body {
    display: flex;
    flex-direction: column;
    /* viewport height */
    min-height: 100vh;
}

body>.container {
    flex-grow: 1;
}

.user-catalog .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.edit-form .avatar {
    text-align: center;
}

.edit-form img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    object-fit: contain;
}

footer {
    background-color: rgb(60, 60, 60);
    padding: 20px;
    color: white;
    text-align: center;
}