body {
    display: flex;
    flex-direction: column;
    /* viewport height */
    min-height: 100vh;
}

body>.container {
    flex-grow: 1;
}

footer {
    background-color: rgb(60, 60, 60);
    padding: 20px;
    color: white;
    text-align: center;
}